{% extends 'base.html' %} {% block content %}


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">

            <div class="panel-container show">
                <div class="panel-content">
                    <div id="dt-basic-example_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12">
                                <form  method="post">
                                    {% csrf_token %}
                                    Tem certeza que deseja remover esse pet?
                                    <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 d-flex flex-row align-items-center">

                                    <button class="btn btn-primary mr-1 waves-effect waves-themed" type="submit">Sim</button>
                                    <a href="{% url 'pet:pet_list' %}" class="btn btn-primary  waves-effect waves-themed">Não</a>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
